html {
    scroll-behavior: smooth;
}

:root {
    --color1: #FF6F00;
    --color2: #1E3A8A;
    --color4: #2C2C2C;
    --color3: #fff;

    --color3-glass:hsla(60, 100%, 95%, 0.15);
    --color4-glass:hsla(260, 3%, 21%, 0.15); 

    --box-shadow-container: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    --border-raduis-interne: 14px;
    --padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 11fr;
    grid-template-areas:
        "nav"
        "main";
    background-color: var(--color3);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    position: relative;
    gap: 20px;
    padding-bottom: 40px;
}



nav {
    grid-area: "nav";
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 122px;
    position: relative;
    width: 100%;
}



main {
    grid-area: 'main';
    padding: 0 122px;
    position: relative;
}

.corps{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-template-rows: 1fr;
}

.actualite{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 550px;
    gap: 10px;
}

.actualite .child{
    background-color: var(--color3-glass);
    border-radius: var(--border-raduis-interne);
    box-shadow: var(--box-shadow-container);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-border-radius: var(--border-raduis-interne);
    -moz-border-radius: var(--border-raduis-interne);
    -ms-border-radius: var(--border-raduis-interne);
    -o-border-radius: var(--border-raduis-interne);
}


.actualite .actualite_header{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.actualite_operation_profil{
    width: 70px;
    height: 70px;
}

.actualite_operation_profil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:var(--border-raduis-interne);
    -webkit-border-radius:var(--border-raduis-interne);
    -moz-border-radius:var(--border-raduis-interne);
    -ms-border-radius:var(--border-raduis-interne);
 
}

.actualite_operation_audio{
    width: 85%;
    height: 100%;
    border-radius: var(--border-raduis-interne);

}

.actualite_operation_audio form{
    width: 100%;
    height: 100%;
    border-radius: var(--border-raduis-interne);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.actualite_operation_audio form input{
    border: none;
    height: 40px;
    outline: none;
    box-shadow: var(--box-shadow-container);
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    color: var(--color4);
    padding-left: 20px;
    background-color: transparent;
    border-radius: var(--border-raduis-interne);    
}
.audioMaker{
    display: flex;
    align-items: center;
    gap: 20px;
}
.actualite_operation_audio form button{
    width: 50px;
    height: 30px;
    background-color: #2C2C2C;
    border: none;
    border-radius: var(--border-raduis-interne);
    -webkit-border-radius: var(--border-raduis-interne);
    -moz-border-radius: var(--border-raduis-interne);
    -ms-border-radius: var(--border-raduis-interne);
    -o-border-radius: var(--border-raduis-interne);
}

.profil{
    background-color: aqua;
}

.nav_actu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav_actu button{
    border: none;
    background-color: transparent;
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
}

.actualite_body{
    display: flex;
    flex-direction: column;
    position: relative;
}

.cover{
    height: 40px;
    width: 100%;
    background-color: #2C2C2C;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    color: var(--color3);
}

.cover h4{
    font-family: 'General Sans', sans-serif;
    font-weight: 400;
}
.cover svg{
    color: var(--color3);
}

.post_conteneur{
    height: 510px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.post_conteneur::-webkit-scrollbar{
    scrollbar-width: none;
}

.post_element{
    width: 100%;
    min-height: 350px;
    background-color: aliceblue;
    border-radius: var(--border-raduis-interne);
    -webkit-border-radius: var(--border-raduis-interne);
    -moz-border-radius: var(--border-raduis-interne);
    -ms-border-radius: var(--border-raduis-interne);
    -o-border-radius: var(--border-raduis-interne);
}

.post_element_header{
    height: 50px;
    width: 100%;
    padding: 5px;
    display: flex;
    gap: 30px;
    justify-content:left;

}

.post_element_header_profil{
    width: 50px;
    height: 50px;
    background-color: var(--color4);
    border-radius: var(--border-raduis-interne);
}

.post_element_header_profil img{
    width: 100%;
    height: 100%;
    border-radius: var(--border-raduis-interne);
}
.post_element_header_infos{
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
}
.post_element_header_infos a{
    color: var(--color1);
    text-decoration: none;
    font-weight: 600;
}

.post_element_header_infos p{
    font-size: .9rem;
}

.post_element_header button{
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.post_element_body{
    height: 200px;
    width: 100%;
}

.post_element_footer{
    height: 100px;
    width: 100%;
    border-bottom-right-radius: var(--border-raduis-interne);
    border-bottom-left-radius: var(--border-raduis-interne);
    display: flex;
    flex-direction: column;
}

.vues{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5px;
    padding: 10px 20px;
    font-family: 'Satoshi', sans-serif;
    font-size: .9rem;
}
.reaction{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;

}

.reaction button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color4);
    gap: 5px;
}
.reaction button svg{
    width: 20px;
    height: 20px;
}

.vues span{
    color: var(--color4);
}

.post_element_footer form{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    padding: 10px 20px;
}

.post_element_footer form input{
    width: 80%;
    height: 40px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: var(--box-shadow-container);
    color: var(--color4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.post_element_footer form input::placeholder{
    color: var(--color4);
}

.post_element_footer form button{
    width: 20%;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

